# Practice Optimizing Dataframes and Processing in Chunks

### About

In this project, we'll practice working with chunked dataframes and optimizing a dataframe's memory usage. We'll be working with financial lending data from [Lending Club](https://www.lendingclub.com/), a marketplace for personal loans that matches borrowers with investors.

The Lending Club's website lists approved loans. Qualified investors can view the borrower's credit score, the purpose of the loan, and other details in the loan applications. Once a lender is ready to back a loan, it selects the amount of money it wants to fund. When the loan amount the borrower requested is fully funded, the borrower receives the money, minus the origination fee that Lending Club charges.

We'll be working with a dataset of loans approved from 2007-2011

### [Dataset](https://www.lendingclub.com/info/download-data.action)

In [1]:
import pandas as pd
import numpy as np
pd.options.display.max_columns = 99

In [2]:
first_five = pd.read_csv('loans_2007.csv', nrows=5)

In [3]:
first_five

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,last_credit_pull_d,collections_12_mths_ex_med,policy_code,application_type,acc_now_delinq,chargeoff_within_12_mths,delinq_amnt,pub_rec_bankruptcies,tax_liens
0,1077501,1296599.0,5000.0,5000.0,4975.0,36 months,10.65%,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-2011,Fully Paid,n,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-1985,1.0,3.0,0.0,13648.0,83.7%,9.0,f,0.00,0.00,5863.155187,5833.84,5000.00,863.16,0.00,0.00,0.00,Jan-2015,171.62,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
1,1077430,1314167.0,2500.0,2500.0,2500.0,60 months,15.27%,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-2011,Charged Off,n,car,bike,309xx,GA,1.00,0.0,Apr-1999,5.0,3.0,0.0,1687.0,9.4%,4.0,f,0.00,0.00,1008.710000,1008.71,456.46,435.17,0.00,117.08,1.11,Apr-2013,119.66,Sep-2013,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
2,1077175,1313524.0,2400.0,2400.0,2400.0,36 months,15.96%,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-2011,Fully Paid,n,small_business,real estate business,606xx,IL,8.72,0.0,Nov-2001,2.0,2.0,0.0,2956.0,98.5%,10.0,f,0.00,0.00,3005.666844,3005.67,2400.00,605.67,0.00,0.00,0.00,Jun-2014,649.91,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
3,1076863,1277178.0,10000.0,10000.0,10000.0,36 months,13.49%,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-2011,Fully Paid,n,other,personel,917xx,CA,20.00,0.0,Feb-1996,1.0,10.0,0.0,5598.0,21%,37.0,f,0.00,0.00,12231.890000,12231.89,10000.00,2214.92,16.97,0.00,0.00,Jan-2015,357.48,Apr-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0
4,1075358,1311748.0,3000.0,3000.0,3000.0,60 months,12.69%,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-2011,Current,n,other,Personal,972xx,OR,17.94,0.0,Jan-1996,0.0,15.0,0.0,27783.0,53.9%,38.0,f,461.73,461.73,3581.120000,3581.12,2538.27,1042.85,0.00,0.00,0.00,Jun-2016,67.79,Jun-2016,0.0,1.0,INDIVIDUAL,0.0,0.0,0.0,0.0,0.0

In [4]:
first_five.dtypes

id                              int64
member_id                     float64
loan_amnt                     float64
funded_amnt                   float64
funded_amnt_inv               float64
term                           object
int_rate                       object
installment                   float64
grade                          object
sub_grade                      object
emp_title                      object
emp_length                     object
home_ownership                 object
annual_inc                    float64
verification_status            object
issue_d                        object
loan_status                    object
pymnt_plan                     object
purpose                        object
title                          object
zip_code                       object
addr_state                     object
dti                           float64
delinq_2yrs                   float64
earliest_cr_line               object
inq_last_6mths                float64
open_acc                      float64
pub_rec                       float64
revol_bal                     float64
revol_util                     object
total_acc                     float64
initial_list_status            object
out_prncp                     float64
out_prncp_inv                 float64
total_pymnt                   float64
total_pymnt_inv               float64
total_rec_prncp               float64
total_rec_int                 float64
total_rec_late_fee            float64
recoveries                    float64
collection_recovery_fee       float64
last_pymnt_d                   object
last_pymnt_amnt               float64
last_credit_pull_d             object
collections_12_mths_ex_med    float64
policy_code                   float64
application_type               object
acc_now_delinq                float64
chargeoff_within_12_mths      float64
delinq_amnt                   float64
pub_rec_bankruptcies          float64
tax_liens                     float64
dtype: object

In [5]:
first_thousand = pd.read_csv('loans_2007.csv', nrows=3000)
print(first_thousand.memory_usage(deep=True).sum() / (1024*1024))

4.649013519287109

3000 rows of data fit 5 mb limit

#### Let's try calculate the memory footprint for each chunk of 3000 rows

In [6]:
chunk_iter = pd.read_csv('loans_2007.csv', chunksize=3000)
for chunk in chunk_iter:
    print(chunk.memory_usage(deep=True).sum() / (1024*1024))

4.649013519287109
4.6447601318359375
4.646517753601074
4.647870063781738
4.6440629959106445
4.6459455490112305
4.644536972045898
4.646905899047852
4.645031929016113
4.645082473754883
4.657794952392578
4.6566619873046875
4.663469314575195
4.896910667419434
0.8808088302612305

Every chuck fits in 5 mb limit, so we can continue with this siE of chunk

### Let's get familiarize with the columns to see which ones can be optimized

#### How many columns have a numeric type? How many have a string type?

In [7]:
chunk_iter = pd.read_csv('loans_2007.csv', chunksize=3000)
number = []
string = []
for chunk in chunk_iter:
    nums = chunk.select_dtypes(include=[np.number]).shape[1]
    strs = chunk.select_dtypes(include=['object']).shape[1]
    number.append(nums)
    string.append(strs)
print(number)
print(string)

[31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 31, 30, 30]
[21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 21, 22, 22]

In [8]:
# Are string columns consistent across chunks?
obj_cols = []
chunk_iter = pd.read_csv('loans_2007.csv', chunksize=3000)

for chunk in chunk_iter:
    chunk_obj_cols = chunk.select_dtypes(include=['object']).columns.tolist()
    if len(obj_cols) > 0:
        is_same = obj_cols == chunk_obj_cols
        if not is_same:
            print("overall obj cols:", obj_cols, "\n")
            print("chunk obj cols:", chunk_obj_cols, "\n")    
    else:
        obj_cols = chunk_obj_cols

overall obj cols: ['term', 'int_rate', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'purpose', 'title', 'zip_code', 'addr_state', 'earliest_cr_line', 'revol_util', 'initial_list_status', 'last_pymnt_d', 'last_credit_pull_d', 'application_type']

chunk obj cols: ['id', 'term', 'int_rate', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'purpose', 'title', 'zip_code', 'addr_state', 'earliest_cr_line', 'revol_util', 'initial_list_status', 'last_pymnt_d', 'last_credit_pull_d', 'application_type']

overall obj cols: ['term', 'int_rate', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'purpose', 'title', 'zip_code', 'addr_state', 'earliest_cr_line', 'revol_util', 'initial_list_status', 'last_pymnt_d', 'last_credit_pull_d', 'application_type']

chunk obj cols: ['id', 'term', 'int_rate', 'grade', 'sub_grade', 'emp_title', 'emp_length', 'home_ownership', 'verification_status', 'issue_d', 'loan_status', 'pymnt_plan', 'purpose', 'title', 'zip_code', 'addr_state', 'earliest_cr_line', 'revol_util', 'initial_list_status', 'last_pymnt_d', 'last_credit_pull_d', 'application_type']

Observations:
 - By default -- 31 numeric columns and 21 string columns.
 - It seems like one column in particular (the id column) is being cast to int64 in the last 2 chunks but not in the earlier chunks. Since the id column won't be useful for analysis, visualization, or predictive modelling let's ignore this column.

#### How many unique values are there in each string column? How many of the string columns contain values that are less than 50% unique?

In [9]:
uniques = {}
chunk_iter = pd.read_csv('loans_2007.csv', chunksize=3000)

for chunk in chunk_iter:
    chunk_obj_cols = chunk.select_dtypes(include=['object'])
    for col in chunk_obj_cols.columns:
        val_counts = chunk_obj_cols[col].value_counts()
        if col in uniques:
            uniques[col].append(val_counts)
        else:
            uniques[col] = [val_counts]

uniques_combined = {}
category_cols = []
for col in uniques:
    u_concat = pd.concat(uniques[col])
    u_group = u_concat.groupby(u_concat.index).sum()
    uniques_combined[col] = u_group
    if u_group.shape[0] < 50:
        print(col, u_group.shape[0])

emp_length 11
initial_list_status 1
application_type 1
loan_status 9
home_ownership 5
pymnt_plan 2
purpose 14
sub_grade 35
verification_status 3
term 2
grade 7

#### Which float columns have no missing values and could be candidates for conversion to the integer type?

In [10]:
chunk_iter = pd.read_csv('loans_2007.csv', chunksize=3000)
missing_vals = []

for chunk in chunk_iter:
    chunk_cols = chunk.select_dtypes(include=['float'])
    miss = 0
    missing_vals.append(chunk_cols.apply(pd.isnull).sum())

combined_missing = pd.concat(missing_vals)
combined_missing.groupby(combined_missing.index).sum().sort_values()

member_id                        3
total_rec_int                    3
total_pymnt_inv                  3
total_pymnt                      3
revol_bal                        3
recoveries                       3
policy_code                      3
out_prncp_inv                    3
out_prncp                        3
total_rec_late_fee               3
loan_amnt                        3
last_pymnt_amnt                  3
total_rec_prncp                  3
funded_amnt_inv                  3
funded_amnt                      3
dti                              3
collection_recovery_fee          3
installment                      3
annual_inc                       7
inq_last_6mths                  32
total_acc                       32
delinq_2yrs                     32
pub_rec                         32
delinq_amnt                     32
open_acc                        32
acc_now_delinq                  32
tax_liens                      108
collections_12_mths_ex_med     148
chargeoff_within_12_mths       148
pub_rec_bankruptcies          1368
dtype: int64

#### Calculate the total memory usage across all of the chunks

In [11]:
chunk_iter = pd.read_csv('loans_2007.csv', chunksize=3000)
total_size = 0

for chunk in chunk_iter:
    total_size += chunk.memory_usage(deep='True').sum() / (1024 * 1024)
print (total_size)

66.2153730392456

### Optimizing String Columns

#### Determine which string columns you can convert to a numeric type if you clean them. Let's focus on columns that would actually be useful for analysis and modelling

In [12]:
useful_obj_cols = ['term', 'sub_grade', 'emp_title', 'home_ownership', 'verification_status', 'issue_d', 'purpose', 'earliest_cr_line', 'revol_util', 'last_pymnt_d', 'last_credit_pull_d']

In [13]:
## Create dictionary (key: column, value: list of Series objects representing each chunk's value counts)
chunk_iter = pd.read_csv('loans_2007.csv', chunksize=3000)
str_cols_vc = {}
for chunk in chunk_iter:
    str_cols = chunk.select_dtypes(include=['object'])
    for col in str_cols.columns:
        current_col_vc = str_cols[col].value_counts()
        if col in str_cols_vc:
            str_cols_vc[col].append(current_col_vc)
        else:
            str_cols_vc[col] = [current_col_vc]

In [14]:
## Combine the value counts.
combined_vcs = {}

for col in str_cols_vc:
    combined_vc = pd.concat(str_cols_vc[col])
    final_vc = combined_vc.groupby(combined_vc.index).sum()
    combined_vcs[col] = final_vc

In [15]:
for col in useful_obj_cols:
    print(col)
    print(combined_vcs[col])
    print("-----------")

term
 36 months    31534
 60 months    11001
Name: term, dtype: int64
-----------
sub_grade
A1    1142
A2    1520
A3    1823
A4    2905
A5    2793
B1    1882
B2    2113
B3    2997
B4    2590
B5    2807
C1    2264
C2    2157
C3    1658
C4    1370
C5    1291
D1    1053
D2    1485
D3    1322
D4    1140
D5    1016
E1     884
E2     791
E3     668
E4     552
E5     499
F1     392
F2     308
F3     236
F4     211
F5     154
G1     141
G2     107
G3      79
G4      99
G5      86
Name: sub_grade, dtype: int64
-----------
emp_title
  old palm inc                                               1
 Brocade Communications                                      1
 CenturyLink                                                 1
 Department of Homeland Security                             1
 Down To Earth Distributors, Inc.                            1
 Plaid, Inc.                                                 1
 U.S. Dept. Of Homeland Security                             1
 pacific crane maintenance company                           1
$260M '06 vintage technology venture capital firm            1
(Collaborative) Abbott Nutrition Intl                        1
(self) Castleforte Group                                     1
0CEAN VIEW INTL REALTY/C21 UNITED PLATINUM                   1
1 Cochran Hyundai                                            1
1 and 1 Internet Inc.                                        1
1)-Yavapai Regional Medical Center 2)- Dr. cantors office    1
1-800 Contacts                                               1
101 restaurant                                               1
1013 communications                                          1
1125 memorex dr                                              1
1199SEIU Benefit and Pension Funds                           1
1199SEIU UHE                                                 1
123 Recovery                                                 1
123 appartment corp.                                         1
128 Air Refueling Wing (USAF)                                1
1400                                                         1
15                                                           1
162 fighter wing                                             1
16th MP BDE, U.S. Army                                       1
1800-got-junk?                                               1
182nd Airlift Wing Fire Dept.                                1
                                                            ..
wyoming valley hospital                                      1
wythe county community hospital                              1
xcel fire protection                                         1
xerox cor.                                                   1
xerox corp                                                   1
xo communication                                             1
xotic deliveries                                             1
xpedite technologies inc                                     1
xpedx                                                        1
yankee candle company                                        1
ye olde pepper co                                            1
yellow cab com.                                              1
yellow cab taxi                                              1
ymca                                                         3
yonkers fire department                                      1
york hospital dental center                                  1
yorkville physical therapy                                   1
young and associates                                         1
young atitudes aveda                                         1
youth villages                                               1
yrbnyc.com / Yellow Rat Bastard                              1
yrc                                                          1
yrcw                                                         1
zachry industral inc                                         1
zakheim and lavrar                                           1
zashko inc.                                                  1
zeno office solutions                                        1
zion lutheran school                                         1
zoll medical corp                                            1
zozaya officiating                                           1
Name: emp_title, Length: 30658, dtype: int64
-----------
home_ownership
MORTGAGE    18959
NONE            8
OTHER         136
OWN          3251
RENT        20181
Name: home_ownership, dtype: int64
-----------
verification_status
Not Verified       18758
Source Verified    10306
Verified           13471
Name: verification_status, dtype: int64
-----------
issue_d
Apr-2008     259
Apr-2009     333
Apr-2010     912
Apr-2011    1563
Aug-2007      74
Aug-2008     100
Aug-2009     446
Aug-2010    1175
Aug-2011    1934
Dec-2007     172
Dec-2008     253
Dec-2009     658
Dec-2010    1335
Dec-2011    2267
Feb-2008     306
Feb-2009     302
Feb-2010     682
Feb-2011    1298
Jan-2008     305
Jan-2009     269
Jan-2010     662
Jan-2011    1380
Jul-2007      63
Jul-2008     141
Jul-2009     411
Jul-2010    1204
Jul-2011    1875
Jun-2007      24
Jun-2008     124
Jun-2009     406
Jun-2010    1105
Jun-2011    1835
Mar-2008     402
Mar-2009     324
Mar-2010     828
Mar-2011    1448
May-2008     115
May-2009     359
May-2010     989
May-2011    1704
Nov-2007     112
Nov-2008     209
Nov-2009     662
Nov-2010    1224
Nov-2011    2232
Oct-2007     105
Oct-2008     122
Oct-2009     604
Oct-2010    1232
Oct-2011    2118
Sep-2007      53
Sep-2008      57
Sep-2009     507
Sep-2010    1189
Sep-2011    2067
Name: issue_d, dtype: int64
-----------
purpose
car                    1615
credit_card            5477
debt_consolidation    19776
educational             422
home_improvement       3199
house                   426
major_purchase         2311
medical                 753
moving                  629
other                  4425
renewable_energy        106
small_business         1992
vacation                400
wedding                1004
Name: purpose, dtype: int64
-----------
earliest_cr_line
Apr-1964      3
Apr-1966      1
Apr-1967      4
Apr-1968      1
Apr-1969      1
Apr-1970      3
Apr-1971      6
Apr-1972      2
Apr-1973      7
Apr-1974      6
Apr-1975     11
Apr-1976      7
Apr-1977     10
Apr-1978     14
Apr-1979     15
Apr-1980     17
Apr-1981     15
Apr-1982     23
Apr-1983     29
Apr-1984     27
Apr-1985     31
Apr-1986     29
Apr-1987     48
Apr-1988     55
Apr-1989     64
Apr-1990     79
Apr-1991     77
Apr-1992     90
Apr-1993    100
Apr-1994    134
           ...
Sep-1979     20
Sep-1980     18
Sep-1981     28
Sep-1982     16
Sep-1983     33
Sep-1984     46
Sep-1985     41
Sep-1986     59
Sep-1987     59
Sep-1988     63
Sep-1989     83
Sep-1990     93
Sep-1991     70
Sep-1992     72
Sep-1993    124
Sep-1994    119
Sep-1995    181
Sep-1996    187
Sep-1997    196
Sep-1998    267
Sep-1999    277
Sep-2000    325
Sep-2001    282
Sep-2002    251
Sep-2003    220
Sep-2004    221
Sep-2005    162
Sep-2006    150
Sep-2007     63
Sep-2008      8
Name: earliest_cr_line, Length: 530, dtype: int64
-----------
revol_util
0%       1070
0.01%       1
0.03%       1
0.04%       1
0.05%       1
0.1%       61
0.12%       1
0.16%       1
0.2%       64
0.3%       43
0.4%       45
0.46%       1
0.49%       1
0.5%       49
0.54%       1
0.6%       39
0.7%       47
0.75%       1
0.8%       43
0.83%       1
0.86%       1
0.9%       41
1%         51
1.1%       39
1.2%       37
1.3%       36
1.4%       32
1.5%       33
1.6%       24
1.7%       30
         ...
97%        31
97.1%      39
97.2%      32
97.3%      36
97.4%      33
97.5%      35
97.6%      35
97.7%      45
97.8%      38
97.9%      27
98%        28
98.1%      25
98.2%      25
98.3%      36
98.4%      31
98.5%      29
98.6%      36
98.7%      27
98.8%      38
98.9%      20
99%        35
99.1%      33
99.2%      22
99.3%      32
99.4%      24
99.5%      24
99.6%      27
99.7%      32
99.8%      25
99.9%      29
Name: revol_util, Length: 1119, dtype: int64
-----------
last_pymnt_d
Apr-2008     23
Apr-2009     72
Apr-2010    145
Apr-2011    519
Apr-2012    781
Apr-2013    890
Apr-2014    682
Apr-2015    141
Apr-2016    178
Aug-2008     31
Aug-2009     66
Aug-2010    198
Aug-2011    479
Aug-2012    868
Aug-2013    744
Aug-2014    836
Aug-2015    217
Dec-2007      2
Dec-2008     31
Dec-2009    116
Dec-2010    332
Dec-2011    585
Dec-2012    732
Dec-2013    799
Dec-2014    949
Dec-2015    185
Feb-2008      8
Feb-2009     65
Feb-2010    148
Feb-2011    437
           ...
May-2011    448
May-2012    773
May-2013    943
May-2014    686
May-2015    151
May-2016    203
Nov-2008     31
Nov-2009     80
Nov-2010    258
Nov-2011    487
Nov-2012    782
Nov-2013    701
Nov-2014    593
Nov-2015    231
Oct-2008     55
Oct-2009     85
Oct-2010    292
Oct-2011    482
Oct-2012    853
Oct-2013    712
Oct-2014    813
Oct-2015    200
Sep-2008     40
Sep-2009     55
Sep-2010    215
Sep-2011    491
Sep-2012    802
Sep-2013    712
Sep-2014    694
Sep-2015    211
Name: last_pymnt_d, Length: 103, dtype: int64
-----------
last_credit_pull_d
Apr-2009     24
Apr-2010     77
Apr-2011    177
Apr-2012    326
Apr-2013    445
Apr-2014    507
Apr-2015    404
Apr-2016    912
Aug-2007     17
Aug-2008     15
Aug-2009     32
Aug-2010     68
Aug-2011    290
Aug-2012    391
Aug-2013    375
Aug-2014    528
Aug-2015    435
Dec-2007      3
Dec-2008      7
Dec-2009     73
Dec-2010    156
Dec-2011    268
Dec-2012    391
Dec-2013    431
Dec-2014    567
Dec-2015    656
Feb-2008      3
Feb-2009     20
Feb-2010     87
Feb-2011    199
           ...
May-2013    470
May-2014    477
May-2015    433
May-2016    766
Nov-2007      3
Nov-2009     50
Nov-2010    126
Nov-2011    221
Nov-2012    432
Nov-2013    491
Nov-2014    500
Nov-2015    516
Oct-2007      3
Oct-2008     13
Oct-2009     51
Oct-2010    120
Oct-2011    162
Oct-2012    351
Oct-2013    429
Oct-2014    529
Oct-2015    513
Sep-2007      5
Sep-2008      9
Sep-2009     21
Sep-2010    119
Sep-2011    175
Sep-2012    414
Sep-2013    408
Sep-2014    564
Sep-2015    531
Name: last_credit_pull_d, Length: 108, dtype: int64
-----------

#### Convert to category

In [16]:
convert_col_dtypes = {
    "sub_grade": "category", "home_ownership": "category", 
    "verification_status": "category", "purpose": "category"
}

#### Convert term and revol_util to numerical by data cleaning.

#### Convert issue_d, earliest_cr_line, last_pymnt_d, and last_credit_pull_d to datetime.

In [21]:
chunk[useful_obj_cols]

,term,sub_grade,emp_title,home_ownership,verification_status,issue_d,purpose,earliest_cr_line,revol_util,last_pymnt_d,last_credit_pull_d
42000,36.0,C2,Best Buy,RENT,Not Verified,2008-02-01,debt_consolidation,2000-07-01,100.7,2011-02-01,2016-06-01
42001,36.0,G2,CVS PHARMACY,OWN,Not Verified,2008-02-01,debt_consolidation,1989-03-01,51.9,2008-11-01,2016-06-01
42002,36.0,E4,General Motors,RENT,Not Verified,2008-02-01,debt_consolidation,1998-12-01,80.7,2011-02-01,2016-06-01
42003,36.0,G4,usa medical center,RENT,Not Verified,2008-02-01,debt_consolidation,1995-07-01,57.2,2011-02-01,2011-06-01
42004,36.0,B3,InvestSource Inc,RENT,Not Verified,2008-02-01,debt_consolidation,2005-09-01,74.0,2010-03-01,2010-08-01
42005,36.0,D1,kaiser,MORTGAGE,Not Verified,2008-02-01,debt_consolidation,2000-11-01,37.6,2010-03-01,2010-04-01
42006,36.0,C1,Panoramic Software,MORTGAGE,Not Verified,2008-02-01,debt_consolidation,1995-12-01,56.0,2010-04-01,2016-06-01
42007,36.0,D5,AT&T Inc.,RENT,Not Verified,2008-02-01,small_business,2000-02-01,49.7,2009-02-01,2009-10-01
42008,36.0,D4,D&Y,RENT,Not Verified,2008-02-01,debt_consolidation,1992-10-01,71.5,2010-01-01,2016-06-01
42009,36.0,D5,Frederick's of Hollywood,RENT,Not Verified,2008-02-01,debt_consolidation,1994-10-01,49.0,2008-07-01,2016-06-01
42010,36.0,F2,Yuma Nursing Home Ctr,RENT,Not Verified,2008-02-01,debt_consolidation,1993-10-01,18.1,2011-02-01,2014-11-01
42011,36.0,E5,Akiva Incorporated,RENT,Not Verified,2008-02-01,small_business,2006-01-01,30.8,2009-01-01,2009-08-01
42012,36.0,G4,Citrix Online,OWN,Not Verified,2008-02-01,debt_consolidation,1998-09-01,98.1,2011-02-01,2016-03-01
42013,36.0,G3,Virginia College Online,MORTGAGE,Not Verified,2008-02-01,other,1990-12-01,78.4,2008-10-01,2008-09-01
42014,36.0,E2,Zone 7 Water Agency,RENT,Not Verified,2008-02-01,debt_consolidation,1998-11-01,94.3,2009-05-01,2013-05-01
42015,36.0,G5,Integrity Appraisals,MORTGAGE,Not Verified,2008-02-01,debt_consolidation,1997-02-01,78.7,2008-11-01,2016-06-01
42016,36.0,G4,Stordok Document Destruction/Moreno Roofing Co.,MORTGAGE,Not Verified,2008-02-01,credit_card,1982-06-01,0.0,2011-02-01,2014-12-01
42017,36.0,E4,Aladdin Capital Management,RENT,Not Verified,2008-02-01,credit_card,1999-11-01,65.2,2009-11-01,2009-11-01
42018,36.0,D4,Cayuga Medical Center,RENT,Not Verified,2008-02-01,debt_consolidation,1994-11-01,58.9,2011-02-01,2016-06-01
42019,36.0,E1,North Sound PT,RENT,Not Verified,2008-01-01,debt_consolidation,2000-02-01,94.0,2009-10-01,2010-03-01
42020,36.0,C3,UHS,RENT,Not Verified,2008-01-01,medical,1998-10-01,83.1,2011-02-01,2011-02-01
42021,36.0,D4,Adecco,RENT,Not Verified,2008-02-01,debt_consolidation,2002-11-01,60.7,2009-08-01,2011-01-01
42022,36.0,E5,Greatwide logistics Services,MORTGAGE,Not Verified,2008-02-01,home_improvement,1994-10-01,49.9,2009-09-01,2016-06-01
42023,36.0,D4,ASU University,RENT,Not Verified,2008-02-01,credit_card,2000-09-01,59.9,2011-02-01,2011-02-01
42024,36.0,B5,Wells Fargo,RENT,Not Verified,2008-02-01,debt_consolidation,1995-11-01,32.6,2011-02-01,2016-06-01
42025,36.0,D5,lakeside memorial hospital,MORTGAGE,Not Verified,2008-01-01,debt_consolidation,1997-11-01,77.4,2011-01-01,2016-06-01
42026,36.0,B5,Controller Group,RENT,Not Verified,2008-02-01,small_business,1998-03-01,46.5,2008-10-01,2016-06-01
42027,36.0,F1,David Johnston Equestrian Training Lic.#29026,RENT,Not Verified,2008-02-01,small_business,2000-11-01,18.1,2011-02-01,2011-02-01
42028,36.0,E3,Lockheed Martin Corp.,MORTGAGE,Not Verified,2008-02-01,debt_consolidation,1983-12-01,45.9,2011-02-01,2016-06-01
42029,36.0,G4,Self,MORTGAGE,Not Verified,2008-02-01,small_business,1994-04-01,92.3,2008-04-01,2016-06-01
...,...,...,...,...,...,...,...,...,...,...,...
42508,36.0,D5,SUNY- ESF,RENT,Not Verified,2007-07-01,credit_card,2004-12-01,49.3,2010-07-01,2012-09-01
42509,36.0,D5,Clinton Shop Rite of Hunterdon County,OWN,Not Verified,2007-07-01,car,2006-12-01,NaN,2010-02-01,2013-07-01
42510,36.0,B4,Scheduall,MORTGAGE,Not Verified,2007-07-01,debt_consolidation,NaT,NaN,2008-02-01,2007-05-01
42511,36.0,E5,GA-PCOM,RENT,Not Verified,2007-07-01,educational,1999-09-01,85.0,2010-08-01,2010-08-01
42512,36.0,A1,Tzigane Inc,MORTGAGE,Not Verified,2007-07-01,debt_consolidation,1984-03-01,2.2,2010-07-01,2010-06-01
42513,36.0,C2,Yale University,RENT,Not Verified,2007-06-01,debt_consolidation,1996-01-01,66.0,2010-06-01,2014-10-01
42514,36.0,B4,Brick Township board of education,MORTGAGE,Not Verified,2007-06-01,debt_consolidation,2004-07-01,63.5,2010-06-01,2015-02-01
42515,36.0,B2,Classic Components,RENT,Not Verified,2007-06-01,other,NaT,NaN,2010-07-01,2016-06-01
42516,36.0,C4,Compensation Solutions,RENT,Not Verified,2007-06-01,other,NaT,NaN,2010-04-01,2010-04-01
42517,36.0,C3,"Stanford University Libraries, LOCKSS Project",RENT,Not Verified,2007-06-01,other,NaT,NaN,2010-07-01,2014-09-01
42518,36.0,E3,Macy's,RENT,Not Verified,2007-06-01,other,NaT,NaN,2010-06-01,2010-06-01
42519,36.0,A3,Diamond Management and Technology Consultants,MORTGAGE,Not Verified,2007-06-01,other,NaT,NaN,2009-08-01,2009-08-01
42520,36.0,A2,U.S. Bank,MORTGAGE,Not Verified,2007-06-01,other,NaT,NaN,2008-01-01,2007-06-01
42521,36.0,A2,NC,MORTGAGE,Not Verified,2007-06-01,other,NaT,NaN,2008-01-01,2007-06-01
42522,36.0,A5,College Pro Painters,MORTGAGE,Not Verified,2007-06-01,other,NaT,NaN,2010-03-01,2010-03-01
42523,36.0,A1,Mana Products,RENT,Not Verified,2007-06-01,other,NaT,NaN,2010-06-01,2014-04-01
42524,36.0,C4,Apto Solutions,RENT,Not Verified,2007-06-01,other,NaT,NaN,2010-07-01,2010-06-01
42525,36.0,D3,Infinitely law group,RENT,Not Verified,2007-06-01,other,NaT,NaN,2008-05-01,2016-06-01
42526,36.0,C4,Town of Plainville,RENT,Not Verified,2007-06-01,other,NaT,NaN,2008-08-01,2007-06-01
42527,36.0,B2,Tanks Tavern,RENT,Not Verified,2007-06-01,other,NaT,NaN,2010-07-01,2010-06-01
42528,36.0,B3,NaN,OWN,Not Verified,2007-06-01,other,NaT,NaN,2010-06-01,2007-05-01
42529,36.0,B5,NaN,RENT,Not Verified,2007-06-01,other,NaT,NaN,2010-07-01,2010-07-01
42530,36.0,B4,Air Force,RENT,Not Verified,2007-06-01,other,NaT,NaN,2008-05-01,2016-06-01
42531,36.0,C1,NaN,RENT,Not Verified,2007-06-01,other,NaT,NaN,2008-03-01,2013-02-01
42532,36.0,B4,Halping hands company inc.,RENT,Not Verified,2007-06-01,other,NaT,NaN,2010-06-01,2014-09-01
42533,36.0,B3,NaN,RENT,Not Verified,2007-06-01,other,NaT,NaN,2010-06-01,2007-05-01
42534,36.0,A5,NaN,NONE,Not Verified,2007-06-01,other,NaT,NaN,2010-06-01,2007-08-01
42535,36.0,A3,Homemaker,MORTGAGE,Not Verified,2007-06-01,other,NaT,NaN,2010-06-01,2015-02-01
42536,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaT,NaT
42537,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaT,NaN,NaT,NaT

In [22]:
chunk_iter = pd.read_csv('loans_2007.csv', chunksize=3000, dtype=convert_col_dtypes, parse_dates=["issue_d", "earliest_cr_line", "last_pymnt_d", "last_credit_pull_d"])

for chunk in chunk_iter:
    term_cleaned = chunk['term'].str.lstrip(" ").str.rstrip(" months")
    revol_cleaned = chunk['revol_util'].str.rstrip("%")
    chunk['term'] = pd.to_numeric(term_cleaned)
    chunk['revol_util'] = pd.to_numeric(revol_cleaned)
    
chunk.dtypes

id                                    object
member_id                            float64
loan_amnt                            float64
funded_amnt                          float64
funded_amnt_inv                      float64
term                                 float64
int_rate                              object
installment                          float64
grade                                 object
sub_grade                           category
emp_title                             object
emp_length                            object
home_ownership                      category
annual_inc                           float64
verification_status                 category
issue_d                       datetime64[ns]
loan_status                           object
pymnt_plan                            object
purpose                             category
title                                 object
zip_code                              object
addr_state                            object
dti                                  float64
delinq_2yrs                          float64
earliest_cr_line              datetime64[ns]
inq_last_6mths                       float64
open_acc                             float64
pub_rec                              float64
revol_bal                            float64
revol_util                           float64
total_acc                            float64
initial_list_status                   object
out_prncp                            float64
out_prncp_inv                        float64
total_pymnt                          float64
total_pymnt_inv                      float64
total_rec_prncp                      float64
total_rec_int                        float64
total_rec_late_fee                   float64
recoveries                           float64
collection_recovery_fee              float64
last_pymnt_d                  datetime64[ns]
last_pymnt_amnt                      float64
last_credit_pull_d            datetime64[ns]
collections_12_mths_ex_med           float64
policy_code                          float64
application_type                      object
acc_now_delinq                       float64
chargeoff_within_12_mths             float64
delinq_amnt                          float64
pub_rec_bankruptcies                 float64
tax_liens                            float64
dtype: object

In [23]:
chunk_iter = pd.read_csv('loans_2007.csv', chunksize=3000, dtype=convert_col_dtypes, parse_dates=["issue_d", "earliest_cr_line", "last_pymnt_d", "last_credit_pull_d"])
mv_counts = {}
for chunk in chunk_iter:
    term_cleaned = chunk['term'].str.lstrip(" ").str.rstrip(" months")
    revol_cleaned = chunk['revol_util'].str.rstrip("%")
    chunk['term'] = pd.to_numeric(term_cleaned)
    chunk['revol_util'] = pd.to_numeric(revol_cleaned)
    float_cols = chunk.select_dtypes(include=['float'])
    for col in float_cols.columns:
        missing_values = len(chunk) - chunk[col].count()
        if col in mv_counts:
            mv_counts[col] = mv_counts[col] + missing_values
        else:
            mv_counts[col] = missing_values
mv_counts

{'acc_now_delinq': 32,
 'annual_inc': 7,
 'chargeoff_within_12_mths': 148,
 'collection_recovery_fee': 3,
 'collections_12_mths_ex_med': 148,
 'delinq_2yrs': 32,
 'delinq_amnt': 32,
 'dti': 3,
 'funded_amnt': 3,
 'funded_amnt_inv': 3,
 'inq_last_6mths': 32,
 'installment': 3,
 'last_pymnt_amnt': 3,
 'loan_amnt': 3,
 'member_id': 3,
 'open_acc': 32,
 'out_prncp': 3,
 'out_prncp_inv': 3,
 'policy_code': 3,
 'pub_rec': 32,
 'pub_rec_bankruptcies': 1368,
 'recoveries': 3,
 'revol_bal': 3,
 'revol_util': 93,
 'tax_liens': 108,
 'term': 3,
 'total_acc': 32,
 'total_pymnt': 3,
 'total_pymnt_inv': 3,
 'total_rec_int': 3,
 'total_rec_late_fee': 3,
 'total_rec_prncp': 3}

In [24]:
chunk_iter = pd.read_csv('loans_2007.csv', chunksize=3000, dtype=convert_col_dtypes, parse_dates=["issue_d", "earliest_cr_line", "last_pymnt_d", "last_credit_pull_d"])
mv_counts = {}
for chunk in chunk_iter:
    term_cleaned = chunk['term'].str.lstrip(" ").str.rstrip(" months")
    revol_cleaned = chunk['revol_util'].str.rstrip("%")
    chunk['term'] = pd.to_numeric(term_cleaned)
    chunk['revol_util'] = pd.to_numeric(revol_cleaned)
    chunk = chunk.dropna(how='all')
    float_cols = chunk.select_dtypes(include=['float'])
    for col in float_cols.columns:
        missing_values = len(chunk) - chunk[col].count()
        if col in mv_counts:
            mv_counts[col] = mv_counts[col] + missing_values
        else:
            mv_counts[col] = missing_values
mv_counts

{'acc_now_delinq': 32,
 'annual_inc': 7,
 'chargeoff_within_12_mths': 148,
 'collection_recovery_fee': 3,
 'collections_12_mths_ex_med': 148,
 'delinq_2yrs': 32,
 'delinq_amnt': 32,
 'dti': 3,
 'funded_amnt': 3,
 'funded_amnt_inv': 3,
 'inq_last_6mths': 32,
 'installment': 3,
 'last_pymnt_amnt': 3,
 'loan_amnt': 3,
 'member_id': 3,
 'open_acc': 32,
 'out_prncp': 3,
 'out_prncp_inv': 3,
 'policy_code': 3,
 'pub_rec': 32,
 'pub_rec_bankruptcies': 1368,
 'recoveries': 3,
 'revol_bal': 3,
 'revol_util': 93,
 'tax_liens': 108,
 'term': 3,
 'total_acc': 32,
 'total_pymnt': 3,
 'total_pymnt_inv': 3,
 'total_rec_int': 3,
 'total_rec_late_fee': 3,
 'total_rec_prncp': 3}